body{
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
}
.cheader{
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 700;
}
img{
  width: 250px;
}
.footerColor{
  background-color: #6F54FF;
}
a,a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}
.imgpag{
  width: 250px;
}
@media (min-width: 1400px) {
  .contExp{
    height: 1100px;
    padding: 5rem 12rem;
  }
  .imgpag{
    height: 50px;
  }
}
.contExp{
  padding: 5rem 2rem;
}
.padingheader{
  padding-top: 20rem;
  padding-bottom: 8rem;
}
.modal img{
  width: auto;
}
.caroColor{
  color: white;
  background-color: #660066;
}
.card p{
  color: black;
}
